<div class="form-container-wrapper">
  <div class="form-card">
    <div class="form-header">
      <h2 class="title">Acesse sua Conta Premium</h2>
      <p class="subtitle">
        Entre para ver seus pacotes de viagem exclusivos.
      </p>
    </div>

    <form (ngSubmit)="onLogin()">
      <div class="input-group">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Seu Melhor E-mail"
          required
        />
      </div>

      <div class="input-group">
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Sua Senha"
          required
        />
      </div>

      <button type="submit" class="submit-btn">
        ENTRAR
      </button>
    </form>

    <div class="form-footer">
      <p>
        Ainda não tem uma conta?
        <a routerLink="/cadastro">Crie uma agora</a>
      </p>

      <a routerLink="/" class="back-link">
        ← Voltar para a Home
      </a>
    </div>
  </div>
</div>
